rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /exhibitions/{artistId}/{allPaths=**}  {
      allow write: if request.auth != null && request.auth.token.artist == true  && request.auth.uid == artistId;
      allow read: if request.auth != null && (
    request.auth.token.email == "admin1234@test.com" ||
    (request.auth.token.artist == true &&
     request.auth.uid == artistId) || request.auth.token.business == true
  );
     
    }
  }
}